<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoeApp">
        <activity
            android:name=".ownerdashboard"
            android:exported="false" />
        <activity
            android:name=".ownerprofie"
            android:exported="false" />
        <activity
            android:name=".ownersignin"
            android:exported="false" />
        <activity
            android:name=".shopownerlogin"
            android:exported="false" />
        <activity
            android:name=".orderdetails"
            android:exported="false" />
        <activity
            android:name=".lafsedit"
            android:exported="false" />
        <activity
            android:name=".litroedit"
            android:exported="false" />
        <activity
            android:name=".laufsdash"
            android:exported="false" />
        <activity
            android:name=".litrodash"
            android:exported="false" />
        <activity
            android:name=".gustype"
            android:exported="false" />
        <activity
            android:name=".viewfeedback"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".logintype"
            android:exported="false" />
        <activity
            android:name=".qrcode"
            android:exported="false" />
        <activity
            android:name=".onenotification"
            android:exported="false" />
        <activity
            android:name=".notifications"
            android:exported="false" />
        <activity
            android:name=".timeslot"
            android:exported="false" />
        <activity
            android:name=".selecteslot"
            android:exported="false" />
        <activity
            android:name=".editslotpage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>